@keyframes shine {
    0 {
        color: green;
    } 33% {
        color: white;
    } 66% {
        color: red;
    } 100% {
        color: blue;
    }
}

@keyframes title-glow {
    from {
        text-shadow: 0 0 0 #000;
    } to {
        text-shadow: 0 0 33px#09F;
    }
}

@keyframes fail {
    from {
        color: red;
    } to {
        color: white;
    }
}

@keyframes correct {
    from {
        text-shadow: 0 0 0 #000;
    } to {
        text-shadow: 0 0 33px forestgreen;
    }
}

body {
    padding: 0 0 33px 0;
    margin: 0;
    background: linear-gradient(black 69%, steelblue);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

h1 {
    color: white;
    font-size: 4rem;
}

.fail {
    animation: fail 50ms alternate infinite;
}

.title {
    animation: title-glow 1s ease-out alternate infinite;
}

.container-main {
    max-width: 400px;
    margin: auto;
}

.container-button {
    border: 1px solid white;
    border-radius: 13px;
    padding: 33px;
    text-align: center;
}

.container-button button {
    margin: 0 33px 0 33px;
}

#message {
    text-align: center;
}

.shine {
    font-size: 5rem;
    animation: shine 100ms alternate infinite;
}

.correct {
    color: green !important;
    animation: correct 1s alternate infinite;
}

.color-answer {
    color: forestgreen !important;
}