
body {
    margin-left: 20px;
    background-color: lightcyan;
    font-family: sans-serif;
}

#intro {
    width: 75%;
    background-color: teal;
    border: dashed darkorange;
    font-family: sans-serif;
    line-height: 1.6;
    color: whitesmoke;
    margin: auto;
    padding: 10px 20px 10px 20px;
}

#hobbies {
    background-color: rgb(197, 158, 241);
    color: darkmagenta;
    display: block;
    width: 25%;
    line-height: 1.5;
    border: solid purple;
    padding: 10px;
    margin: 10px auto;
}

#goals {
    line-height: 1.5;
    text-align: center;
}

h2 {
    text-align: center;
}

#games {
    width: 50%;
    border-radius: 25px;
    background-color: lightcoral;
    color: whitesmoke;
    display: block;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.y-or-n-buttons {
    color: rgb(149, 0, 255);
    display: inline;
}

.guess-buttons {
    color: rgb(16, 147, 46);
    display: inline;
}


.response {
    display: inline;
}