body {
    text-align: center;
    color:darkgrey;
    background-color: steelblue;
}
h1 {
    color: darkslategray;
    font-style: oblique;
}
h2
#score{
    font-size:50;
    color: red;
}
h2{
    color: darkslategray;
}
button{
    border-color: orange;
    background-color: lightslategray;
    color: orange;
}
.response{
    color: ghostwhite;
}
#score{
    color: darkred;
}