.wholeThing{
    
}
.nameOne {
    margin-bottom: 14 px;
    border: 2px solid black;
    background-color: rgb(243, 128, 128);
}

.animalOne {
    border: 2px solid black;
    background-color: rgb(126, 92, 29);
}

.ageOne {
    border: 2px solid black;
    background-color: grey;
}

.cityOne {
    background-color: rgb(114, 173, 173)
}
h1  {
    align-content: center;
    background-color: lightblue;
    border: 2px solid black;
    color: rgb(95, 90, 90)
}

body {
    display: block;
    margin: 20 px;
    /* border not printing */
    border: 6 px solid brown;
    background-color: darkslategrey;
}